.meal-item{
    width: 300px;
    height: 510px;
    border: 1px solid #e46030;
    border-radius: 10px;
    position: relative;
}
.meal-item img{
    width: 286px;
    margin: 7px;
    border-radius: 8px;
}
.meal-info{
    margin: 0 10px;
}
.meal-info p{
    margin-bottom: 0;
    margin-top: 5px;  
}
.meal-name{
    margin-top: 7px;
    font-family: lato;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
}
.cart-btn{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #e46030;
    font-size: 15px;
    border: none;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn .btn-text{
    margin-right: 5px;
}
.cart-btn:hover{
    background-color: #df645b;
    letter-spacing: 2px;
}