@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fredoka One', cursive;
    background-color: #48d8a1;
    padding: 10px 25px;
    color: white;
}
.header span{
    color: #e46030;
}
.header a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-size: 18px;
}
.header a:hover {
    color: #e46030;
    letter-spacing: 2px;
}

 @media screen and (max-width:620px) {
    .header{
        width: auto;
        font-size: 10px;
    }
    .header h3{
        width: 100%;
        margin: auto;
    }
     
} 